textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

.center {
    display: flex;
    justify-content: center;
}

.codes {
    width: 60%;
}

.input {
    padding: 0;
}