textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    resize: none;
}

#input-text-area, #output-text-area {
    height: 12rem;
}

#coding-text-area {
    height: 24.25rem;
}

.center {
    display: flex;
    justify-content: center;
}

.codes {
    width: 60%;
}

.input {
    padding: 0;
}